<h1>Annonces en ligne</h1>

<div class="row">
    <% @annonces.each do |f| %>
    <div class="col-md-4 thumbnail col-flex">
        <%= image_tag f.image  %><br/><br/>
        <p>Titre:
            <%= f.titre %>
        </p>
        <%= link_to "Voir", annonce_path(f.id), class: 'btn btn-success', method: :get %><br/><br/>
    </div>
    <% end %>
</div>
