<h1>Annonces en ligne</h1>

<div class="row">
  <% @annonces.each do |f| %>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <div class="thumbnail">
          <p>Titre: <%= f.titre %> </p><br /><br />
          <p>Description: <%= f.description %></p><br />
          <p><%= f.prix %> Euro</p>
          <%= link_to "Voir", annonce_path(f.id), class: 'btn btn-success', method: :get %><br /><br />
        </div>

      </div>

    </div>
  <% end %>
</div>
